<a href="https://colab.research.google.com/github/polarbear-gelato/Pandas_Practice/blob/main/Pandas_Practice_3_Grouping_Alchol_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

original source: 
https://github.com/guipsamora/pandas_exercises/blob/master/03_Grouping/Alcohol_Consumption/Exercise_with_solutions.ipynb

**Step 1. Import the necessary libraries**

**Step 2. Import the dataset from this address.** 

**Step 3. Assign it to a variable called drinks.**

https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"
drinks = pd.read_csv(url)
drinks.head(5)

       country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0  Afghanistan              0  ...                           0.0         AS
1      Albania             89  ...                           4.9         EU
2      Algeria             25  ...                           0.7         AF
3      Andorra            245  ...                          12.4         EU
4       Angola            217  ...                           5.9         AF

[5 rows x 6 columns]

**Step 4. Which continent drinks more beer on average?**

In [7]:
avg_beer = drinks.groupby('continent')['beer_servings'].mean().sort_values(ascending=False)
print(avg_beer)

continent
EU    193.777778
SA    175.083333
OC     89.687500
AF     61.471698
AS     37.045455
Name: beer_servings, dtype: float64

**Step 5. For each continent print the statistics for wine consumption.**

In [8]:
wine_stats = drinks.groupby('continent')['wine_servings'].describe()
print(wine_stats)

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

**Step 6. Print the mean alcohol consumption per continent for every column**

In [9]:
avg_consumption = drinks.groupby('continent').mean()
print(avg_consumption)

           beer_servings  ...  total_litres_of_pure_alcohol
continent                 ...
AF             61.471698  ...                      3.007547
AS             37.045455  ...                      2.170455
EU            193.777778  ...                      8.617778
OC             89.687500  ...                      3.381250
SA            175.083333  ...                      6.308333

[5 rows x 4 columns]

**Step 7. Print the median alcohol consumption per continent for every column**

In [10]:
median_consumption = drinks.groupby('continent').median()
print(median_consumption)

           beer_servings  ...  total_litres_of_pure_alcohol
continent                 ...
AF                  32.0  ...                          2.30
AS                  17.5  ...                          1.20
EU                 219.0  ...                         10.00
OC                  52.5  ...                          1.75
SA                 162.5  ...                          6.85

[5 rows x 4 columns]

**Step 8. Print the mean, min and max values for spirit consumption.**

In [11]:
spirit_data = drinks.groupby('continent')['spirit_servings'].describe()
print(spirit_data)

           count        mean        std   min    25%    50%     75%    max
continent
AF          53.0   16.339623  28.102794   0.0   1.00    3.0   19.00  152.0
AS          44.0   60.840909  84.362160   0.0   1.00   16.0   98.00  326.0
EU          45.0  132.555556  77.589115   0.0  81.00  122.0  173.00  373.0
OC          16.0   58.437500  70.504817   0.0  18.00   37.0   65.25  254.0
SA          12.0  114.750000  77.077440  25.0  65.75  108.5  148.75  302.0

In [12]:
# another solution
spirit_data2 = drinks.groupby('continent')['spirit_servings'].agg(['mean', 'min', 'max'])
print(spirit_data2)

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302