<a href="https://colab.research.google.com/github/polarbear-gelato/Pandas_Practice/blob/main/Pandas_Practice_2_Filtering_Chipotle_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Original source: https://github.com/guipsamora/pandas_exercises/blob/master/02_Filtering_%26_Sorting/Chipotle/Exercises.ipynb

**Step 1. Import the necessary libraries**

In [1]:
import pip
import numpy as np
import pandas as pd

**Step 2. Import the dataset from this address.**
https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv 

**Step 3. Assign it to a variable called chipo.**

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')
print(chipo.head(10))

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

**Step 4. Check the dataset and change price data type**

In [4]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [5]:
print(chipo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

In [6]:
# Change the price data type
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)
print(chipo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB
None

In [7]:
print(chipo.head(5))

   order_id  ...  item_price
0         1  ...        2.39
1         1  ...        3.39
2         1  ...        3.39
3         1  ...        2.39
4         2  ...       16.98

[5 rows x 5 columns]

**Step 5. What is the price of each item?**

In [14]:
# Get a new dataset with only item_name and price, delete all duplicates by the two columns
item_price = chipo[['item_name', 'item_price']].drop_duplicates()
print(item_price)

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4237                    Chips and Guacamole        8.50
4354                       Steak Soft Tacos       18.50
4489                    Chips and Guacamole       17.80
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[209 rows x 2 columns]

**Step 6. Sort by the name of the item**

In [9]:
item_price2 = item_price.sort_values(by='item_name')
print(item_price2)

              item_name  item_price
3389  6 Pack Soft Drink       12.98
298   6 Pack Soft Drink        6.49
4510      Barbacoa Bowl       11.49
3195      Barbacoa Bowl        8.69
95        Barbacoa Bowl        9.25
...                 ...         ...
186   Veggie Salad Bowl       11.25
3889  Veggie Soft Tacos       16.98
738   Veggie Soft Tacos       11.25
781   Veggie Soft Tacos        8.75
1395  Veggie Soft Tacos        8.49

[209 rows x 2 columns]

**Step 7. What was the quantity of the most expensive item ordered?**

In [20]:
# Get the most expensive item name
item_price3 = item_price.sort_values(by='item_price', ascending=False)
top_item = item_price3.head(1)
top_item_name = top_item['item_name'].to_list()
print(top_item_name)

['Chips and Fresh Tomato Salsa']

In [23]:
# Get the quantity of top item
top_item_qty = chipo[chipo['item_name'].isin(top_item_name)]
print("The quantity of the most expensive item ordered was " + str(np.round(top_item_qty['quantity'].sum(),2)))

The quantity of the most expensive item ordered was 130

In [24]:
test = chipo[chipo['item_name'].isin(top_item_name)]
print(test)

      order_id  quantity  ... choice_description item_price
0            1         1  ...                NaN       2.39
25          13         1  ...                NaN       2.39
55          25         1  ...                NaN       2.39
89          39         1  ...                NaN       2.95
183         82         1  ...                NaN       2.95
...        ...       ...  ...                ...        ...
4231      1689         1  ...                NaN       2.95
4318      1722         1  ...                NaN       2.95
4324      1725         1  ...                NaN       2.95
4425      1764         1  ...                NaN       2.95
4503      1790         1  ...                NaN       2.95

[110 rows x 5 columns]

**Step 8. How many times was a Veggie Salad Bowl ordered?**

In [28]:
# get the dataframe of Veggie Salad Bowl
vsb1 = chipo[chipo['item_name']=='Veggie Salad Bowl'].drop_duplicates(subset=['order_id'])
print(vsb1)

      order_id  ...  item_price
186         83  ...       11.25
295        128  ...       11.25
455        195  ...       11.25
496        207  ...       11.25
960        394  ...        8.75
1316       536  ...        8.75
1884       760  ...       11.25
2156       869  ...       11.25
2223       896  ...        8.75
2269       913  ...        8.75
2683      1066  ...        8.75
3223      1289  ...       11.25
3293      1321  ...        8.75
4109      1646  ...       11.25
4201      1677  ...       11.25
4261      1700  ...       11.25
4541      1805  ...        8.75
4573      1818  ...        8.75

[18 rows x 5 columns]

In [30]:
# get the count of orders
print('The Veggie Salad Bowl was ordered ' + str(len(vsb1)) + " times")

The Veggie Salad Bowl was ordered 18 times

**Step 9. How many times did someone order more than one Canned Soda?**

In [31]:
# get the dataframe of that Canned Soda was ordered more than 1
cs = chipo[(chipo['item_name']=='Canned Soda') & ( chipo['quantity'] > 1)]
print(cs)

      order_id  quantity    item_name choice_description  item_price
18           9         2  Canned Soda           [Sprite]        2.18
51          23         2  Canned Soda     [Mountain Dew]        2.18
162         73         2  Canned Soda        [Diet Coke]        2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18
350        150         2  Canned Soda        [Diet Coke]        2.18
352        151         2  Canned Soda        [Coca Cola]        2.18
698        287         2  Canned Soda        [Coca Cola]        2.18
700        288         2  Canned Soda        [Coca Cola]        2.18
909        376         2  Canned Soda     [Mountain Dew]        2.18
1091       450         2  Canned Soda       [Dr. Pepper]        2.18
1092       450         2  Canned Soda        [Coca Cola]        2.18
1944       787         2  Canned Soda       [Dr. Pepper]        2.18
2135       859         2  Canned Soda        [Diet Coke]        2.18
2235       901         4  Canned Soda           [Sprite]        4.36
2905      1156         2  Canned Soda        [Coca Cola]        2.18
2906      1156         2  Canned Soda           [Sprite]        2.18
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18
3364      1349         2  Canned Soda        [Coca Cola]        2.18
3592      1440         2  Canned Soda        [Diet Coke]        2.18
3866      1550         2  Canned Soda     [Mountain Dew]        2.18

In [32]:
# get the count of orders
print('There were ' + str(len(cs)) + " times that Canned Soda was ordered more than 1")

There were 20 times that Canned Soda was ordered more than 1