https://github.com/guipsamora/pandas_exercises/blob/master/01_Getting_%26_Knowing_Your_Data/Chipotle/Exercises.ipynb

**Step 1. Import the necessary libraries**

In [66]:
import pip
import numpy as np
import pandas as pd

**Step 2. Import the dataset from this address**
https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

**Step 3. Assign it to a variable called chipo.**
**Step 4. See the first 10 entries**

In [67]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

**Step 5. What is the number of observations in the dataset?**

**Step 6. What is the number of columns in the dataset?Â¶**

In [68]:
chipo.shape

(4622, 5)

In [69]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

**Step 7. Print the name of all the columns.**

In [70]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

**Step 8. How is the dataset indexed?**

In [71]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

**Step 9. Which was the most-ordered item?**

In [72]:
# solution 1
a = chipo.groupby('item_name')['quantity'].sum()
print(a.head(5))

item_name
6 Pack Soft Drink        55
Barbacoa Bowl            66
Barbacoa Burrito         91
Barbacoa Crispy Tacos    12
Barbacoa Salad Bowl      10
Name: quantity, dtype: int64

In [73]:
# solution 2
b = chipo.groupby('item_name').sum()
print(b.head(5))

                       order_id  quantity
item_name
6 Pack Soft Drink         52322        55
Barbacoa Bowl             53972        66
Barbacoa Burrito          74718        91
Barbacoa Crispy Tacos      5613        12
Barbacoa Salad Bowl        9708        10

In [74]:
# solution 2, if adding "sort=True", it'll sort by the groupby column
c = chipo.groupby(["item_name"], sort=True).sum()
print(c.head(8))

                       order_id  quantity
item_name
6 Pack Soft Drink         52322        55
Barbacoa Bowl             53972        66
Barbacoa Burrito          74718        91
Barbacoa Crispy Tacos      5613        12
Barbacoa Salad Bowl        9708        10
Barbacoa Soft Tacos       18725        25
Bottled Water            175944       211
Bowl                        472         4

**Step 10. For the most-ordered item, how many items were ordered?**

In [75]:
# sort by quantity in descending order, get the most ordered item
c = c.sort_values(['quantity'], ascending=False)
print(c.head(1))

              order_id  quantity
item_name
Chicken Bowl    713926       761

**Step 11. What was the most ordered item in the choice_description column?**

In [76]:
desc = chipo.groupby('choice_description').sum()
desc = desc.sort_values('quantity', ascending=False)
print(desc.head(1))

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

**Step 12. How many items were orderd in total?**

In [77]:
total_item_number = chipo['quantity'].sum()
total_item_number

4972

**Step 13. Turn the item price into a float**

In [78]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [82]:
# solution 1 not working: chipo['item_price'] = chipo['item_price'].astype(float, errors = 'raise')
# solution 2 not working: chipo['item_price']= pd.to_numeric(chipo['item_price'],errors = 'coerce')
# solution 3:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)
print(chipo.head(5))

   order_id  ...  item_price
0         1  ...        2.39
1         1  ...        3.39
2         1  ...        3.39
3         1  ...        2.39
4         2  ...       16.98

[5 rows x 5 columns]

In [83]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

**Step 14. How much was the revenue for the period in the dataset?**

In [92]:
chipo['revenue'] = chipo['quantity']*chipo['item_price']
total_revenue = chipo['revenue'].sum()
#print("Total revenue was $"+ str(np.round(total_revenue,2)))
print("Total revenue was $"+ str(total_revenue))

Total revenue was $39237.02

**Step 15. How many orders were made in the period?**

In [99]:
# return counts for each order: total_order = chipo["order_id"].value_counts(normalize=True)
# return percentage for each order: total_order = chipo["order_id"].value_counts(normalize=False)
total_order = chipo['order_id'].value_counts().count()
print("Total order was " + str(total_order))

Total order was 1834

**Step 16. What is the average revenue amount per order?**

In [107]:
chipo['total_rev_per_order'] = chipo.groupby('order_id')['revenue'].sum()
print("Average revenue per order was $" + str(np.round(chipo['total_rev_per_order'].mean(),2)))

Average revenue per order was $21.39

In [108]:
# solution 2
chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

**Step 17. How many different items are sold?**

In [109]:
distinct_item = chipo['item_name'].drop_duplicates()
print("Total different item number was " + str(distinct_item.count()))

Total different item number was 50

In [110]:
# solution 2
chipo.item_name.value_counts().count()

50